
header {
    text-align: center;
    background-color: #11084D;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    line-height: 1.6;
}

body{
    text-align: justify;
    background-color: aliceblue;
}

.Python{
    
    background-color: white;
    border-radius: 30px;
    border-width: 30px;
    text-align: justify;
    padding-left: 440px;
}

.Java{
    
    background-color: white;
    border-radius: 30px;
    border-width: 30px;
    text-align: justify;
    padding-left: 440px;
}

.Plus{
    
    background-color: white;
    border-radius: 30px;
    border-width: 30px;
    text-align: justify;
    padding-left: 440px;
}

footer{
    background-color: #11084D;
    color: whitesmoke;
    margin-top: 100px;
    text-align: center;
}